h1 {
  background: rgba(0, 0, 0, 0.6);
}

.toAmount span,
.errorMessage {
  background: rgba(0, 0, 0, 0.8);
}

.app {
  background-color: rgba(255, 255, 255, 0.7);
}

h1,
button,
span,
.errorMessage p,
.profile,
.profile a {
  color: rgb(255, 255, 255);
}

.reset button {
  background: rgb(204, 2, 2);
}

.errorMessage button {
  background: rgb(0, 137, 82);
}

.profile {
  background: rgb(0, 0, 0);
}
