.landingPage {
  min-height: 100vh;
  background-image: url("../assets/money.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  padding-bottom: 50px;
}

header {
  padding: 50px 0 0 50px;
  margin-bottom: 60px;
}

h1 {
  width: 1203px;
  margin: 0;
  padding: 12px 20px 20px 20px;
  border-radius: 10px;
}

.app {
  width: 1140px;
  padding: 30px;
  margin: 0 auto;
}

.currencies,
.fromAmount,
.toAmount {
  margin-bottom: 20px;
}

.reset,
.profile {
  text-align: center;
}

button,
.profile {
  padding: 5px 0;
}

.reset {
  width: 100%;
}

[name="fromAmount"],
[name="fromCurrency"],
[name="toCurrency"],
button,
.errorMessage {
  cursor: pointer;
}

button {
  width: 175px;
  border: none;
  border-radius: 5px;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

.errorMessage p {
  margin-bottom: 10px;
}

.hiddenErrorMessage {
  display: none;
}

.errorMessage{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.profile{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}