@media (max-width: 1302px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 8rem;
    width: 971px;
  }

  .app {
    font-size: 2.5rem;
    width: 940px;
  }
}

@media (max-width: 1069px) {
  h1 {
    font-size: 6rem;
    width: 739px;
  }

  .app {
    font-size: 2rem;
    width: 756px;
  }
}

@media (max-width: 838px) {
  header {
    padding: 50px 0 0 0;
    margin-bottom: 50px;
  }

  h1,
  .app .fromAmount,
  .app .currencies {
    display: flex;
    flex-direction: column;
  }

  .app .fromAmount #fromAmount,
  .app .currencies {
    width: 320px;
  }

  h1 {
    align-items: center;
    width: 445px;
    margin: 0 auto;
  }

  .app {
    width: 460px;
  }

  .app label {
    margin-bottom: 2px;
  }

  .app .currencies #fromCurrency {
    margin-bottom: 20px;
  }
}

@media (max-width: 490px) {
  .landingPage{
    background-attachment: local;
  }

  h1 {
    font-size: 5rem;
    width: 375px;
  }

  .app {
    width: 380px;
  }
}

@media (max-width: 419px) {
  h1,
  .app {
    width: 100%;
  }

  h1 {
    font-size: 4.5rem;
  }

  body,
  .app {
    font-size: 1.8rem;
  }

  .app .fromAmount #fromAmount,
  .app .currencies {
    width: 280px;
  }
}

@media (max-height: 400px) and (max-width: 860px){
  .landingPage{
    background-attachment: local;
  }

  header{
    padding-top: 25px;
    margin-bottom: 25px;
  }

  h1{
    display: block;
    width: 624px;
    font-size: 5rem;
    margin: 0 auto;
  }
}
