// font-family: 'Boogaloo', cursive;

// font-family: 'Poppins', sans-serif;

h1 {
  font-family: "Boogaloo", cursive;
  font-size: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
