// font-family: 'Fredericka the Great', cursive;

// font-family: 'Poppins', sans-serif;

body {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

h1,
span {
  font-family: "Fredericka the Great", cursive;
}

h1 {
  font-size: 10rem;
}

.app {
  font-size: 3rem;
}
